@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Martel:wght@300;700&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
}

body {
    font-family: 'Merriweather', serif;
}

.tx_align {
    text-align: center;
}

.cursor {
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}